{:af-south-1 {:code "af-south-1", :opt-in? true},
 :ap-east-1 {:code "ap-east-1", :opt-in? true},
 :ap-northeast-1 {:code "ap-northeast-1", :opt-in? false},
 :ap-northeast-2 {:code "ap-northeast-2", :opt-in? false},
 :ap-northeast-3 {:code "ap-northeast-3", :opt-in? false},
 :ap-south-1 {:code "ap-south-1", :opt-in? false},
 :ap-south-2 {:code "ap-south-2", :opt-in? true},
 :ap-southeast-1 {:code "ap-southeast-1", :opt-in? false},
 :ap-southeast-2 {:code "ap-southeast-2", :opt-in? false},
 :ap-southeast-3 {:code "ap-southeast-3", :opt-in? true},
 :ap-southeast-4 {:code "ap-southeast-4", :opt-in? true},
 :ap-southeast-5 {:code "ap-southeast-5", :opt-in? true},
 :ap-southeast-7 {:code "ap-southeast-7", :opt-in? true},
 :ca-central-1 {:code "ca-central-1", :opt-in? false},
 :ca-west-1 {:code "ca-west-1", :opt-in? true},
 :eu-central-1 {:code "eu-central-1", :opt-in? false},
 :eu-central-2 {:code "eu-central-2", :opt-in? true},
 :eu-north-1 {:code "eu-north-1", :opt-in? false},
 :eu-south-1 {:code "eu-south-1", :opt-in? true},
 :eu-south-2 {:code "eu-south-2", :opt-in? true},
 :eu-west-1 {:code "eu-west-1", :opt-in? false},
 :eu-west-2 {:code "eu-west-2", :opt-in? false},
 :eu-west-3 {:code "eu-west-3", :opt-in? false},
 :il-central-1 {:code "il-central-1", :opt-in? true},
 :me-central-1 {:code "me-central-1", :opt-in? true},
 :me-south-1 {:code "me-south-1", :opt-in? true},
 :mx-central-1 {:code "mx-central-1", :opt-in? true},
 :sa-east-1 {:code "sa-east-1", :opt-in? false},
 :us-east-1 {:code "us-east-1", :opt-in? false},
 :us-east-2 {:code "us-east-2", :opt-in? false},
 :us-west-1 {:code "us-west-1", :opt-in? false},
 :us-west-2 {:code "us-west-2", :opt-in? false}}
